#calculator {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-height: 740px;
    max-width: 360px;
    background-color: #f1f3f4;
}
#display {
    display: flex;
    flex-wrap: wrap;
    background-color: #e6e6e6;
    height: 240px;
    width: 360px;
    font-size: 24px;
}
#buttons {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

button {
    width: 25%;
    background: #f1f3f4;
    color: #202124;
    border: 1px solid #f1f3f4;
    border-radius: 4px;
    font-size: 24px;
}

.operator,
.function {
    background-color: #ffd20a;
    border: 1px solid #ffd20a;
    border-radius: 4px;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2c2c2;
}